---
layout: archive
permalink: /blog/
title: "Blog"
author_profile: false
---
<span style="color: #52adc8; font-size: 0.9em;">
<a href="/blog-year/">Sort By Year</a><br>
<a href="/categories/">Sort By Category</a>
<ul style="list-style:none">
  <li><a href="/categories/#bayesian-analysis">Bayesian Analysis</a></li>
  <li><a href="/categories/#deep-learning">Deep Learning</a></li>
  <li><a href="/categories/#machine-learning">Machine Learning</a></li>
  <li><a href="/categories/#natural-language-processing">Natural Language Processing</a></li>
  <li><a href="/categories/#statistics">Statistics</a></li>
  <li><a href="/categories/#tips">Tips</a></li>
	<li><a href="/categories/#日本語記事">日本語記事</a></li>
</ul>
</span>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in site.posts limit:5 %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
