---
layout: archive
permalink: /blog/
title: "Blog"
author_profile: true
---
<span style="color: #52adc8; font-size: 0.9em;">
<a href="/blog-year/">Sort By Year</a><br>
</span>
<span style="color: #52adc8; font-size: 0.9em;">
<a href="/blog-categories/">Sort By Category</a>
</span>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in site.posts limit:5 %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
